__pycache__/
venv/
.venv/
mlruns/
.python-version

output/test
src/scgpt/checkpoints/scGPT_brain
src/scgpt/checkpoints/scGPT_human
src/networks/knowledge sources/TFLink_Homo_sapiens_interactions_All_simpleFormat_v1.0.tsv
src/networks/knowledge sources/goa_human.gaf